.chatsContainer {
  min-width: 20vw;
}

.chatsContainerMobile {
  width: 100%;
}

.chatsContainer li {
  width: 100%;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.chatsChatMiniature {
  display: flex;
  align-items: center;
  gap: 20px;
}
