.chatHeaderContainer {
  display: flex;
  gap: 50px;
  height: 40px;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.chatHeaderContainer > div {
  flex: 1;
  display: flex;
  align-items: center;
}

.chatHeaderTitleContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.chatHeaderContainer > div:last-child {
  justify-content: flex-end;
}
