.headerContainer {
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.usernameText {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: bold;
}
